<!-- Recipe Entries Column -->
<div class="col-md-8">

    <h1 class="page-header">
        All Recipes
    </h1>

    <!-- First Recipe Post -->
    <% current_user.recipes.each do |recipe| %>
      <h2>
          <!-- <%= link_to recipe.name, recipe_path(recipe) %> -->
          <%= link_to recipe.name, user_recipe_path(recipe.user, recipe) if recipe.user %>
      </h2>
      <p class="lead">
          by <%= recipe.user.name if recipe.user %>
      </p>
      <p><span class="glyphicon glyphicon-time"></span> Posted <%= time_ago_in_words(recipe.created_at) %> ago</p>
      <hr>
      <img class="img-responsive" src="http://lorempixel.com/900/300/food" alt="">
      <hr>
      <p><%= recipe.description %></p>
      <%= link_to user_recipe_path(recipe.user, recipe), class: "btn btn-primary" do %>
        Read More<span class="glyphicon glyphicon-chevron-right"></span>
      <% end %>

      <hr>
    <% end %>

    <!-- Pager -->
    <ul class="pager">
        <li class="previous">
            <a href="#">&larr; Older</a>
        </li>
        <li class="next">
            <a href="#">Newer &rarr;</a>
        </li>
    </ul>

</div><!-- End Recipe Entries Column -->

<!-- Sidebar moved to partial -->
<%= render 'layouts/sidebar' %>
