<!-- Recipe Post Content Column -->
<div class="col-lg-8">
  <%= link_to recipes_path, class: "btn btn-info" do %>
    <span class="glyphicon glyphicon-menu-left"></span>
  <% end %>
    <!-- Recipe Post -->

    <!-- Title -->
    <h1>
      <%= @recipe.name %>
      <small><%= link_to new_user_recipe_path(@recipe.user), class: "btn btn-success" do %>
        New Recipe <span class="glyphicon glyphicon-plus"></span>
      <% end %>
      </small>
      <small><%= link_to edit_user_recipe_path(@recipe.user, @recipe), class: "btn btn-warning" do %>
        Edit Recipe <span class="glyphicon glyphicon-pencil"></span>
      <% end %>
      </small>
    </h1>

    <!-- Author -->
    <p class="lead">
        by <%= link_to @recipe.user.name, user_recipes_path(@recipe.user) if @recipe.user %>
    </p>

    Categories
    <% @recipe.categories.each do |category| %>
      <small><%= category.name %></small>
    <% end %>

    <hr>

    <!-- Date/Time -->
    <p><span class="glyphicon glyphicon-time"></span> Posted <%= time_ago_in_words(@recipe.created_at) %></p>

    <hr>

    <!-- Preview Image -->
    <img class="img-responsive" src="http://lorempixel.com/900/300/food" alt="">

    <hr>

    <!-- Recipe Content -->
    <!-- Description -->
    <p class="lead"><strong>Description</strong> - <i><%= @recipe.description %></i></p>

    <!-- Instructions -->
    <p class="lead"><strong>Instructions</strong></p>
    <% @recipe.instructions.each do |instruction| %>
      <p><%= instruction.content %></p>
    <% end %>

    <p class="lead"><strong>Ingredients</strong></p>
    <% @recipe.ingredients.each do |ingredient| %>
      <p><%= ingredient.name %></p>
    <% end %>
    <hr>

    <!-- Recipe Review -->

    <!-- Comments Form -->
    <div class="well">
      <h4>Leave a Review:</h4>
      <%= form_for([@recipe, @recipe.reviews.build]) do |f| %>
        <div class="form-group">
          <!-- <%= f.hidden_field :user_id %> -->
          <!-- <%= f.hidden_field :recipe_id %> -->
          <!-- <%= f.label :content %> -->
          <%= f.text_area :content, class: "form-control", row: "3" %>
          <p>Select user: <%= f.select :user_id, options_from_collection_for_select(User.all, :id, :name) %></p>
        </div>
        <%= f.submit "Create Review", class: "btn btn-primary" %>
      <% end %>
    </div>

    <hr>

    <!-- Posted Reviews -->
    <!-- find how to add 'recipe_id' to the reviews below,  because its returning 'nil' -->

    <!-- Review -->
    <% @recipe.reviews.each do |review| %>
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="http://lorempixel.com/64/64/people" alt="">
        </a>
        <div class="media-body">
            <h4 class="media-heading"><%= @recipe.user.name %>
                <small>August 25, 2014 at 9:30 PM</small>
                <%= link_to [review.recipe, review], method: :delete, class: "btn btn-danger btn-xs",	data: { confirm: 'Are you sure?' } do %>
                  <span class="glyphicon glyphicon-trash"></span>
              <% end %>
            </h4>
            <%= review.content %>
        </div>
    </div>
    <% end %>
    <br>

</div><!-- End Recipe Post Content Column -->

<!-- Sidebar moved to partial -->
<%= render 'layouts/sidebar' %>
