<h1>Recipe</h1>

<%= link_to "Back", recipes_path %>

<h2><%= @recipe.name %></h2>
<% @recipe.categories.each do |cat| %>
  <h4>Categories</h4>
  <h4><%= cat.name %></h4>
<% end %>

<p>Description: <%= @recipe.description %></p>

<h3>Ingredients</h3>

<% @recipe.ingredients.each do |ingredient| %>
  <p><%= ingredient.name %></p>
<% end %>

<!-- find how to add the 'recipe_id' to the reviews below,  because its returning 'nil' -->
<%= link_to "New Review", new_recipe_review_path(@recipe) %>

<h3>Reviews</h3>

<% @recipe.reviews.each do |review| %>
  <p><%= review.content %> | <%= link_to "Edit", edit_recipe_review_path(review.recipe, review) %></p>
<% end %>
