<!-- Recipe Post Content Column -->
<div class="col-lg-8">
  <%= link_to recipes_path, class: "btn btn-info" do %>
    <span class="glyphicon glyphicon-menu-left"></span>
  <% end %>
    <!-- Recipe Post -->

    <!-- Title -->
    <h1>
      <%= @recipe.name %>
      <small><%= link_to new_user_recipe_path(@recipe.user), class: "btn btn-success" do %>
        New Recipe <span class="glyphicon glyphicon-plus"></span>
      <% end %>
      </small>
      <small><%= link_to edit_user_recipe_path(@recipe.user, @recipe), class: "btn btn-warning" do %>
        Edit Recipe <span class="glyphicon glyphicon-pencil"></span>
      <% end %>
      </small>
    </h1>

    <!-- Author -->
    <p class="lead">
        by <%= link_to @recipe.user.name, user_recipes_path(@recipe.user) if @recipe.user %>
    </p>

    Categories
    <% @recipe.categories.each do |category| %>
      <small><%= category.name %></small>
    <% end %>

    <hr>

    <!-- Date/Time -->
    <p><span class="glyphicon glyphicon-time"></span> Posted on August 24, 2013 at 9:00 PM</p>

    <hr>

    <!-- Preview Image -->
    <img class="img-responsive" src="http://lorempixel.com/900/300/food" alt="">

    <hr>

    <!-- Description -->
    <p class="lead"><strong>Description</strong></p>

    <!-- Post Content -->
    <p class="lead"><i><%= @recipe.description %></i></p>

    <!-- Instructions -->
    <p class="lead"><strong>Instructions</strong></p>
    <% @recipe.instructions.each do |instruction| %>
      <p><%= instruction.content %></p>
    <% end %>

    <p class="lead"><strong>Ingredients</strong></p>
    <% @recipe.ingredients.each do |ingredient| %>
      <p><%= ingredient.name %></p>
    <% end %>
    <hr>

    <!-- Recipe Review -->

    <!-- Comments Form -->
    <div class="well">
        <h4>Leave a Review:</h4>
        <form role="form">
            <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <hr>

    <!-- Posted Reviews -->

    <!-- find how to add the 'recipe_id' to the reviews below,  because its returning 'nil' -->
    <%= link_to "New Review", new_recipe_review_path(@recipe) %>

    <!-- Review -->
    <% @recipe.reviews.each do |review| %>
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="http://lorempixel.com/64/64/people" alt="">
        </a>
        <div class="media-body">
            <h4 class="media-heading">User's Name
                <small>August 25, 2014 at 9:30 PM</small>
                <small><%= link_to "Edit", edit_recipe_review_path(review.recipe, review) %></small>
            </h4>
            <%= review.content %>
        </div>
    </div>
    <% end %>
    <br>

</div><!-- End Recipe Post Content Column -->

<!-- Sidebar moved to partial -->
<%= render 'layouts/sidebar' %>
