<h1>New Review</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @review do |f| %>

      <!-- when submitting form with nested resources, hidden_field helps its value gets back to the server. -->

      <%= f.label :content %>
      <%= f.text_area :content, class: "form-control" %>
      <p><%= recipe_id_field(@review) %></p>

      <%= f.submit "Create Review", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
